[Unit]
Description=AutoSSH tunnel service
After=network.target

[Service]
Environment="AUTOSSH_GATETIME=0"
ExecStart=/usr/bin/autossh -M {{ gateway_ssh_monitor_port }} -o "ServerAliveInterval 30" -o "ServerAliveCountMax 3" -NL {{ gateway_lan_ip }}:80:{{ gateway_for }}:80 {{ gateway_ssh_user }}@{{ gateway_ssh_host }} -p {{ gateway_ssh_port }}

[Install]
WantedBy=multi-user.target