#!/bin/bash

# https://unix.stackexchange.com/a/398710/187949
# Check if another instance of script is running
pidof -o %PPID -x $0 >/dev/null && echo "ERROR: Script $0 already running" && exit 1

# Update /data/proins
rsync -axAX --delete --stats -M--fake-super -e 'ssh -p {{ mirror_src_port }}' {{ mirror_src_user }}@{{ mirror_src_host }}:proins/ /data/proins/ > /data/proins.mirror.stats

# Update /data/images
sudo -u zrcalo rsync -axAHXX --delete --stats -e 'ssh -p {{ mirror_src_port }}' {{ mirror_src_user }}@{{ mirror_src_host }}:images/ /data/images/ > /data/images.mirror.stats

#https://lists.samba.org/archive/rsync/2013-July/028522.html
