lock file = /var/run/rsync.lock
log file = /var/log/rsyncd.log
pid file = /var/run/rsyncd.pid

[proins]
    path = /data/images
    comment = OS image repository
    uid = zrcalo
    gid = zrcalo
    read only = yes
    list = yes
    fake super = yes
    hosts allow = {{ router_subnet_networkandmask }}
