#!/bin/bash

# https://unix.stackexchange.com/a/398710/187949
# Check if another instance of script is running
pidof -o %PPID -x $0 >/dev/null && echo "ERROR: Script $0 already running" && exit 1

# Upload /data/images
rsync -axAHXX --delete --stats -e 'ssh -p {{ mirror_src_port }}' /data/images/ {{ mirror_src_user }}@{{ mirror_src_host }}:images/ > /data/images.upload.stats
