#!/bin/bash

# https://unix.stackexchange.com/a/398710/187949
# Check if another instance of script is running
pidof -o %PPID -x $0 >/dev/null && echo "ERROR: Script $0 already running" && exit 1

# Upload /data/proins
rsync -axAHX --delete --stats -M--fake-super -e 'ssh -p {{ mirror_src_port }}' /data/proins/ {{ mirror_src_user }}@{{ mirror_src_host }}:proins/ > /data/proins.upload.stats
