interface={{ router_eth1 }}
#bind-interfaces

domain={{ router_domain }}

dhcp-range={{ router_subnet }}{{ router_subnet_min }},{{ router_subnet }}{{ router_subnet_max }},{{ router_subnet_mask }},{{ router_subnet_ttl }}
dhcp-option=option:router,{{ router_subnet }}{{ router_subnet_self }}
dhcp-authoritative
dhcp-leasefile=/var/lib/dnsmasq/dnsmasq.leases
