<?xml version="1.0" encoding="utf-8"?>
<direct>
  <rule ipv="ipv4" table="nat" chain="POSTROUTING" priority="0">-o {{ router_eth0 }} -j MASQUERADE</rule>
  <rule ipv="ipv4" table="filter" chain="FORWARD" priority="0">-i {{ router_eth1 }} -o {{ router_eth0 }} -j ACCEPT</rule>
  <rule ipv="ipv4" table="filter" chain="FORWARD" priority="0">-i {{ router_eth0 }} -o {{ router_eth1 }} -m state --state RELATED,ESTABLISHED -j ACCEPT</rule>
</direct>